<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7dcfd">  <td>21/06/02 20:14:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.selenium.runner.MainRunner@ef9296d]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@820914198</td>   <td></td> </tr>
<tr bgcolor="e7dcfd">  <td>21/06/02 20:14:32</td>   <td>298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:com.selenium.runner.MainRunner@ef9296d]">feature</td> 
  <td>main@820914198</td>   <td></td> </tr>
<tr bgcolor="65c96b">  <td>21/06/02 20:14:55</td>   <td>23436</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainRunner.writeExtentReport()[pri:0, instance:com.selenium.runner.MainRunner@ef9296d]">&lt;&lt;writeExtentReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@820914198</td>   <td></td> </tr>
<tr bgcolor="e7dcfd">  <td>21/06/02 20:14:55</td>   <td>23456</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.selenium.runner.MainRunner@ef9296d]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@820914198</td>   <td></td> </tr>
</table>
